.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.active-button{
    font-weight: bold;
    /* text-shadow: 2px 2px #ff0000; */
}

.mySchedule-card{
    /* background: #FFFAEF; */
    border: 2px solid #F1DAAA;
    background-color: #FFFAEF;
;
    border-radius: 20px;
    padding: 2rem 1.5rem 2rem 3rem;
}

.mySchedule-card .img{
    position: relative;
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2)); */
    box-shadow: inset 0px -50px 0px 0px rgba(0,0,0,0.3);

}

.text-over-image{
    position: absolute;
    bottom: 1px;
    left: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 115.02%;

    color: #FFFFFF;
}

.empty-info{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empty-info-text{
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 0.02em;
    text-align: center;
}

.empty-info-text h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 115.02%;
    
    color: #000000;
}

.empty-info-text p{
    font-weight: 500;
    font-size: 24px;
    line-height: 115.02%;
    
    color: #ACACAC;
}

.empty-title{
    margin-top: 100px;
}

.margin-bottom{
    margin-bottom: 200px;
}

.join-button a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    text-align: center;

    /* or 43px */
    letter-spacing: 0.4em;

    color: #6B5C21;
}

.add-jadwal{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    
    color: #6B5C21;
}

.col-gap{
    column-gap: 20px;
}